.loading-spinner {
    font-size: 3rem;
    position: fixed;
    line-height: 1.20rem;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
    z-index: 2000;
    animation: rotate 2s infinite;
}

.gray-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    filter: blur(8px);
    background: rgba(0,0,0,0.35);
}

.no-text-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes jump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.10);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*RESET CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

h1{font-size: 2em;}
h2{font-size: 1.5em;}
h3{font-size: 1.3em;}
h4{font-size: 1em;}
h5{font-size: 0.8em;}
h6{font-size: 0.7em;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit;
}

textarea {
    resize: none !important;
}

button {
    background: none;
    border: none;
    outline: none;
}

.b-radius-5 {
    border-radius:5px;
}

.va-middle {
    vertical-align: middle;
}

.va-bottom {
    vertical-align: middle;
}

.cursor-pointer {
    cursor: pointer;
}

.f-33-100 {
    flex: 0 0 calc(33% - 1rem);
}

.crisp-image {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /*  IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}


@media screen and (max-width: 776px) {
    .f-33-100 {
        flex: 0 0 100%;
        margin-bottom: 1rem;
    }
}
