@model Univesp.CaminhoDoMar.ProjetoIntegradorWeb.Models.RelatorioModel;
@{
    ViewData["Title"] = "Relatório";
}

<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js" defer></script>
<link rel="stylesheet" href="/css/home.css">

<div class="content-title teste">
    <h4 class="page-title text-green-syngenta">Relatório de clientes</h4>
</div>
<div class="container px-0">
    <form id="form" class="row">
        <div class="form-group col-10">
            <label for="ciclo">Ciclo:</label>
            <select id="ciclo" name="ciclo" class="form-control">
                <option value="" selected disabled>Selecione -</option>
                @foreach (var ciclo in Model.Ciclos)
                {
                    <option value="@ciclo.Id">@ciclo.Nome</option>
                }
            </select>
        </div>
        <div class="form-group col-2 my-4">
            <button class="btn btn-blue" type="button" onclick="baixarRelatorio()">
                <span id="gerando-relatorio" style="display:none;">
                    Gerando relatório...
                    <span class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </span>
                </span>
                Exportar
                <i class="fas fa-file-excel"></i>
            </button>
        </div>
    </form>
</div>

<div class="content-title teste">
    <h4 class="page-title text-green-syngenta">Demais Relatórios</h4>
</div>
<div class="container px-0">
    <form id="form" class="row">
        <div class="form-group col-10">
            <label for="relatorio">Relatorio:</label>
            <select id="relatorio" name="relatorio" class="form-control">
                <option value="" selected disabled>Selecione -</option>
                <option value="contatos">Contatos</option>
            </select>
        </div>
        <div class="form-group col-2 my-4">
            <button class="btn btn-blue" type="button" onclick="baixarDemaisRelatorios()">
                <span id="gerando-relatorio" style="display:none;">
                    Gerando relatório...
                    <span class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </span>
                </span>
                Exportar
                <i class="fas fa-file-excel"></i>
            </button>
        </div>
    </form>
</div>

@foreach (var c in Model.Ciclos)
{
    <input id="ciclo-@c.Id" class="d-none" value="@c.Nome" />
}

<script>
    if (isMobile()) {
        let form = document.getElementById("form");
        let btn = form.getElementsByTagName("button");
        btn[0].innerHTML = `<span id="gerando-relatorio" style="display:none;">
                                                Gerando relatório...
                                                <span class="spinner-border" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </span>
                                            </span>
                                            <i class="fas fa-file-excel"></i>`
    }

    const baixarRelatorio = () => {
        let id = $("#ciclo").val();
        let nome = $("#ciclo-" + id).val()
        if (id == null || id == "") {
            toastr.error("Selecione um ciclo");
            return;
        }
        toggleLoading();
        $.ajax({
            type: "POST",
            url: `baixar-relatorio/${id}`,
        }).done(function (data) {
            toggleLoading();
            if (!data) {
                alert("Nenhuma cliente encontrado para esse ciclo.");
            } else {
                var link = document.createElement("a");
                document.body.appendChild(link);
                link.setAttribute("type", "hidden");
                link.href = "data:text/plain;base64," + data;
                link.download = `Relatorio_${nome}.xlsx`;
                link.click();
                document.body.removeChild(link);
            }
        }).fail(function (xhr, status, error) {
            toggleLoading();
            console.log(error, xhr.responseText);
            // toastr.error(xhr.responseText);
        });
    }

    const baixarDemaisRelatorios = () => {
        rel = document.getElementById('relatorio').value;
        if (rel == "")
            return toastr.error("Favor selecionar o relatório");
        toggleLoading();
        $.ajax({
            type: "POST",
            url: `baixar-relatorio-custom/${rel}`,
        }).done(function (data) {
            toggleLoading();
            if (!data) {
                alert("Nenhuma cliente encontrado para esse ciclo.");
            } else {
                var link = document.createElement("a");
                document.body.appendChild(link);
                link.setAttribute("type", "hidden");
                link.href = "data:text/plain;base64," + data;
                link.download = `Relatorio Contatos.xlsx`;
                link.click();
                document.body.removeChild(link);
            }
        }).fail(function (xhr, status, error) {
            toggleLoading();
            console.log(error, xhr.responseText);
            // toastr.error(xhr.responseText);
        });
    }
</script>