<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table cellpadding="3" style="background:#dfe4cc33;" width="100%">
        <!-- Header -->
        <tr>
            <td style="background-color: #134E7A; display: block; height: 35px; width: 100%; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                <img src="cid:univesp_logo" title="univesp Logo" alt="univesp Logo" height=30
                     style="margin-left: 10px; margin-top:3px; display: block;">
            </td>
        </tr>
        <!-- Content -->
        <tr>
            <td style="font-weight: bold; font-size: 1.5rem; text-align: center; color: #134E7A; ">

                Auditoria 5s
            </td>
        </tr>
        <tr>
            <td style="padding-left: 15px;">
                <p>
                    Olá!
                    <br />Foi adicionado uma auditoria em uma área que você é lider,
                    <br />Clique no link abaixo para vizualizar.
                </p>
            </td>
        </tr>
        <!--<tr>
            <td style="padding-left: 15px;">
                <span style="color: #555;">Data da Solicitação:</span> {Data_Solicitacao} <br />
            </td>
        </tr>-->
        <tr>
            <td style="
                    padding-left: 15px;
                    text-align: center;
                    font-size: 1.1rem;">
                <a href="{Link_Ajuste}">Ir para a auditoria</a>
            </td>
        </tr>
        <!-- Footer -->
        <tr style="background-color: #134E7A; display: block; height: 15px; border-top-right-radius: 5px; border-top-left-radius: 5px;">
        </tr>
    </table>
</body>
</html>